<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.chiralinteriordesign.cull">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CULL"
        android:usesCleartextTraffic="@bool/allow_clear_text_traffic">
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.texts.TextsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.products.ProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.space.SelectSpaceActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <activity
            android:name=".ui.quiz.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tutorial.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.reset_password.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="links.cullapp.ro"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <service
            android:name=".services.CULLFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>